.course-link {
    text-decoration: none;
    color: inherit;
    margin-bottom: 20px;
}

.event-box {
    display: flex;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    border: 1px solid #ddd;
}

.event-box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.left-column, .right-column {
    padding: 15px;
    flex: 1;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0px;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0px;
}

.countdown-container {
    margin-bottom: 10px;
}

.time {
    font-size: 20px;
    font-weight: bold;
    color: #2c3e50;
}

.time-labels {
    display: flex;
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
    color: #7f8c8d;
}

.label {
    margin-right: 20px;
}

.status-container {
    align-items: center;
    font-size: 16px;
    font-weight: bolder;
  }
  
.warning-icon {
    color: #e74c3c;
}

.info-item-header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
}

.info-item i {
    margin-right: 10px;
}

/* Status-specific Styles */
.status-upcoming {
    color: #d68b00;
}

.status-evaluation {
    color: #1a5bbc;
}

.status-completed {
    color: #00ba28;
}

.status-expired {
    color: #e83c29;
}
